<div class="about-me">

  <div class="sidenav">
  	<div class="items">
      <a href="#">About</a>
  	  <a href="#">Experience</a>
  	  <a href="#">Education</a>
  	  <a href="#">Skills</a>
      <a href="#">Interests</a>
  	 </div>
  </div>

  <div class="main">

  	<div class="about-me">
  	  <h1>Ted <span class="splash">López</span></h1>
  	  <h5>706 7th St. SE Washington, DC 20003 ·
  	  <span class="splash">240-271-7135</span> ·
  	  <a href="mailto:tedmlopez@gmail.com?subject=Hello%20Ted">tedmlopez@gmail.com</a></h5>
      <p>I am a website developer and designer with frontend and backend experience.</p>
      <ul>
        <li class="list-inline-item">
          <a href="https://www.linkedin.com/in/ted-l%C3%B3pez-aa027852/" target=_blank>
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://github.com/teddylopez/" target=_blank>
            <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
      </ul>
  	</div>

    <div class="experience">
      <h3>Senior Website Development Associate</h3>
      <h4>Advisory Board Company</h4>
    </div>

    <div class="education">
      <h3>Bloc Website Development Course</h3>
      <h4>Pennsylvania State University</h4>
    </div>

  </div>

</div>
