<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 about homepage_content">
    <h2>About</h2>
    <hr>
    <p>My name is Ted López.</p>
    <p>I am a web designer and developer.</p>
    <p>I started teaching myself how to code after work, and then later enrolled in the website development course offered by <a href="https://www.bloc.io">Bloc</a>. I made this site so that I can write about my work and the progress I've made as a developer.</p>
  </div>
  <div class="col-2 homepage_content">
    <h2>Latest Posts</h2>
    <hr>
    <% @posts.each do |post| %>
      <h3><%= link_to post.title, post %></h3>
      <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
    <% end %>

  </div>
  <div class="col-3 homepage_content">
    <h2>Latest Projects</h2>
    <hr>
      <% @projects.each do |project| %>
        <h3><%= link_to project.title, project %></h3>
        <p class="date"><%= project.created_at.strftime("%A, %B %d") %></p>
      <% end %>
  </div>
</div>
