<div class="wrapper wrapper_padding clearfix">
  <div class="welcome-container">

    <div class="home-about homepage_content">
      <h2>About</h2>
      <hr>
      <p>My name is Ted López and this is my portfolio.</p>
      <p>I made this site so I can share my work and write about the progress I've made as a website developer.</p>
      <p>Take a look around!</p>
    </div>

    <div class="home-posts homepage_content">
      <h2>Latest Posts</h2>
      <hr>
      <% @posts.each do |post| %>
        <h3><%= link_to post.title, post %></h3>
        <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
      <% end %>

    </div>
    <div class="home-projects homepage_content">
      <h2>Latest Projects</h2>
      <hr>
        <% @projects.each do |project| %>
          <h3><%= link_to project.title, project %></h3>
          <p class="date"><%= project.created_at.strftime("%A, %B %d") %></p>
        <% end %>
    </div>
  </div>
</div>
