.col-1, .col-2, .col-3 {
  float: left;
}

.col-1 {
  width: 45%;
  padding: 0 5% 0 2.5%;
}

.col-2, .col-3 {
  width: 27.5%;
  padding: 0 2.5%;
}

.homepage_content {
  h2 {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  hr {
    width: 3em;
    display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid #4285F4;
    margin: 2rem 0;
  }
  h3 {
    font-size: 1.35em;
    font-weight: 400;
    margin-bottom: .5em;
  }

  a {
    text-decoration: none;
    color: #424652;
    &:hover {
      color: #4285F4;
    }
  }
  .date {
    font-size: .8em;
    margin-bottom: 2em;
    color: #9a9da4;
  }
  p {
    font-size: 1.75rem;
    margin: 0 0 .75em 0;
  }
}

.sidenav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #4285F4;
  overflow-x: hidden;
  padding-top: 20px;
  -webkit-box-shadow: 2px 0px 16px 5px rgba(0,0,0,0.1);
  box-shadow: 2px 0px 16px 5px rgba(0,0,0,0.1);
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  cursor: pointer;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    h3, h4, h6 {
      text-transform: uppercase;
    }
}

.about-me {
	padding-top: 2%;
	padding-left: 5%;
  h1 {
    font-size: 55px;
  }
  a {
    text-decoration: none;
    color: #424652;
  }
  ul {
    padding: 0;
  }
  li {
    display: inline-block;
  }
}

.classes p {
  margin: 0;
}

.pic {
  text-align: center;
  img {
    border: .3rem solid white;
    border-radius: 3px;
  }
}

.subhead {
  color: #bdbdbd;
  margin: 5px;
}

.desc {
  width: 80%;
}

.last-subhead {
  margin-bottom: 3rem;
}

.align {
  h3 {
  text-align: left;
  display: inline;
  }
  p {
    float: right;
    margin-right: 1rem;
    display: inline-block;
  }
}
.about-me {
  margin-bottom: 20rem;
}

.education {
  margin-top: 25rem;
}

.skills {
  margin-top: 25rem;
}

.experience {
  margin-top: 5rem;
}

.interests {
  margin-top: 25rem;
}

.section {
  padding-top: 15%;
	padding-bottom: 15%;
  p {
    line-height: 1.7;
    font-size: 1.5rem;
  }
}

.items {
	padding-top: 100%;
  a {
    color: white;
  }
}

.past {
  margin-bottom: 0;
}

.icons {
  margin-top: 2rem;
  i {
    font-size: 4rem;
  }
}

.splash {
  color: #4285F4;
}

#phone-num {
  color: #4285F4;
}

.last {
  margin-bottom: 12rem;
}

@media (min-width:1200px) {
  .main {
    padding-left: 23rem;
    margin-right: 8rem;
  }
}

@media (min-width:992px) {
  .main {
    padding-left: 23rem;
    margin-right: 8rem;
  }
}

@media(max-width:767px){
  .main {
    margin-right: 2rem;
  }
  .section, .education, .skills, .experience {
    padding: 0;
    margin: 0;
  }
}
